.snForm {
    margin: 2% 25%;
    width: 50%;
}

.snFormLabel {
    width: 20%;
}
    .snFormLabel > label {
        width: 100%;
        text-align: right;
        padding-top: 7px;
        padding-right: 5%;
        font-size: 120%;
    }

.snFormInput {
    width: 60%;
}
    .snFormInput > input[type="text"] {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

.snFormSubmit {
    width: 20%;
}
    .snFormSubmit > input[type="submit"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
