* {
    font-family: sans-serif;
    box-sizing: border-box;
    color: darkslategrey;
}

a, a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

nav {
    margin: auto;
}

.mainContent {
    margin: 1% 0;
    padding: 1%;
    border-top: 1px solid lightgrey;
}

fieldset {
    border: 1px solid darkslategrey;
    padding: 1.3%;
    background: rgba(206, 223, 245, 0.2);
}

legend {
    padding: 0;
    margin: 0 1%;
    width: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 1% 0;
    color: darkcyan;
}

h2 {
    text-decoration: underline;
}

h3 {
    margin-top: 3%;
    font-size: 125%;
    font-weight: 500;
    text-align: center;
}

label {
    width: 20%;
    text-align: right;
}
input[type="text"] {
    width: 40%;
}

table.results {    
    width: 100%;
    text-align: center;
}

.moveLeft {
    margin-left: -30%;
    margin-top: 1%;
}

div.loggedInAs {
    position: absolute;
    top: 0;
    right: 1%;
    width: 20%;
    text-align: right;
    font-size: 115%;
    font-weight: 300;
}

.homeInput {
    display: inline-block;
}

.errors {
    border: 1px solid red;
    box-shadow: 0 0 8px 1px red;
    padding: 1%;
    margin: 1% 25%;
    width: 50%;
}
    .error {
        border-bottom: 1px dotted darkslategrey;
        margin: 1% 4%;
        padding: 1%;
        width: 92%;
    }

.warnings {
    border: 1px solid darkorange;
    box-shadow: 0 0 8px 1px darkorange;
    padding: 1%;
    margin: 1% 25%;
    width: 50%;
}
    .warning {
        border-bottom: 1px dotted darkslategrey;
        margin: 1% 4%;
        padding: 1%;
        width: 92%;
    }

.notices {
    border: 1px solid lightgreen;
    box-shadow: 0 0 8px 1px lightgreen;
    padding: 1%;
    margin: 1% 25%;
    width: 50%;
}
    .notice {
        border-bottom: 1px dotted darkslategrey;
        margin: 1% 4%;
        padding: 1%;
        width: 92%;
    }

.snForm {
    margin: 2% 25%;
    width: 50%;
}

.snFormLabel {
    width: 20%;
}
    .snFormLabel > label {
        width: 100%;
        text-align: right;
        padding-top: 7px;
        padding-right: 5%;
        font-size: 120%;
    }

.snFormInput {
    width: 60%;
}
    .snFormInput > input[type="text"] {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

.snFormSubmit {
    width: 20%;
}
    .snFormSubmit > input[type="submit"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
